.flex {
  display: flex;
}
.justify-space-btwn {
  justify-content: space-between;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #f3f3f3;
}
.makeStyles-root-1 {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
form label {
  font-weight: 600 !important;
  color: #404040 !important;
}

.green {
  background-color: #439a46 !important;
  color: #fff !important;
}
.yellow {
  background-color: #ffa500 !important;
  color: #fff !important;
}
.red {
  background-color: #e42b0a !important;
  color: #fff !important;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
form .MuiFormControl-root {
  width: 100%;
}
.close-icn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.modal-form {
  padding-top: 1.5em;
}
.modal-btns-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}
.client-address {
  display: flex;
  padding-bottom: 3em;
}

.client-address > div {
  width: 50%;
}
.client-details h2 {
  margin-top: 0;
}
.bill-amount {
  max-width: 290px;
  margin-left: auto;
}

.amount-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.amount-item:last-child {
  margin-bottom: 0;
}
